<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eventastic"
        tools:targetApi="31">
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".booking_successfull"
            android:exported="false" />
        <activity
            android:name=".card_details"
            android:exported="false" />
        <activity
            android:name=".acc_succsess_msg"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false"/>
        <activity
            android:name=".success_massage"
            android:exported="false" />
        <activity
            android:name=".create_account"
            android:exported="false" />
        <activity
            android:name=".paymethod"
            android:exported="false" />
        <activity
            android:name=".booking"
            android:exported="false" />
        <activity
            android:name=".Bottomnav_and_fragments"
            android:exported="false" />
        <activity
            android:name=".Login_screen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>